<p>demo works!</p>

<h1>{{title}}</h1>
<h1>Here Your code</h1>
<p>
    first create project ng new project_name --no-standalone --routing --ssr=false  <br>
    for run project : ng serve<br>
    cmd : cd project_name<br>
    create components folder inside src\app\<br>
    go to component and run bellow commands in new terminal cmd<br>
    create component : ng g c componenet_name<br>
    In Components we have 4 files which has html , css, testing, datalogic<br>
    firstly you need to add selector inside in the data logic means ts file as selector and insert in app components html file like sapp-demo<br>

</p>

<!-- <p>
    two type of data binding 
    1) one way binding  - interpollation{{}} component to view , property-binding [] component to view , event-binding () view to component
    2) two way data binding - [(ngModel)]
</p> -->
